<!-- Material form register -->

<div class="container">
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Employee Form</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form #employeeForm="ngForm" (ngSubmit)="Save()" class="text-center" style="color: #757575;">

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form" [class.has-error]="firstNameControl.invalid && firstNameControl.touched">
                            <input type="text" id="fN" name="firstName" [(ngModel)]="employee.firstName" class="form-control" required #firstNameControl="ngModel">
                            <span class="help-block" style="border: red;" *ngIf="firstNameControl.invalid && firstNameControl.touched" class="alert alert-danger">Full Name Required</span>
                            <label for="fN">First name</label>

                        </div>
                    </div>

                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">

                            <input type="text" id="lN" name="lastName" [(ngModel)]="employee.lastName" class="form-control">
                            <label for="lN">Last name</label>
                        </div>
                    </div>
                </div>

                <!-- E-mail -->
                <div class="md-form mt-0" [class.has-error]="mailControl.invalid && mailControl.touched">

                    <input type="email" id="Email" name="email" [(ngModel)]="employee.email" class="form-control" required pattern="^[\w#][\w\.\'+#](.[\w\\'#]+)\@[a-zA-Z0-9]+(.[a-zA-Z0-9]+)*(.[a-zA-Z]{2,20})$" #mailControl="ngModel">
                    <span class="help-block" *ngIf="mailControl.errors?.required && mailControl.touched" class="alert alert-danger">Email Required</span>
                    <span class="help-block" *ngIf="mailControl.errors?.pattern && mailControl.touched" class="alert alert-danger">Email Invalid</span>
                    <label for="Email">E-mail</label>
                </div>

                <!-- DOB -->
                <div class="md-form">

                    <input type="text" bsDatepicker [bsConfig]="datePickerConfig" id="DOB1" name="DOB" [(ngModel)]="employee.DOB" class="form-control">
                    <label for="DOB1">Date of Birth</label>
                </div>

                <!-- Phone number -->
                <div class="md-form">

                    <input type="number" id="PN" name="phoneNumber" [(ngModel)]="employee.phoneNumber" class="form-control">
                    <label for="PN">Phone number</label>
                </div>

                <!-- Address -->
                <div class="md-form">

                    <input type="text" id="adreess" name="Address" [(ngModel)]="employee.Address" class="form-control">
                    <label for="adreess">Address</label>
                </div>

                <!-- Position -->
                <div class="md-form">

                    <input type="text" id="position" name="position" [(ngModel)]="employee.position" class="form-control">
                    <label for="position">Position</label>

                </div>

                <div class="md-form">

                    <input type="file" id="pic" (change)="onChange($event)" name="myimage" required />


                    <!-- <div *ngIf="myimage&& myimage!== ''"> -->
                    <div>
                        <img [src]="myimage" id="pic" width="100px" height="100px" alt="" />
                    </div>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" [disabled]="employeeForm.invalid">Submit</button>

            </form>
            <!-- Form -->
            {{employeeForm.value | json}}

        </div>
        {{employee | json}}
    </div>
    <!-- Material form register -->
</div>